body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
h1 {
    font-size: 2em;
    color: #333;
}
h2 {
    font-size: 1.5em;
    color: #555;
}
p {
    margin-bottom: 20px;
}
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
figure {
    margin: 0;
    padding: 0;
}
figcaption {
    font-style: italic;
    font-size: 0.8em;
    color: #777;
    text-align: center;
}